/* styles.css */

/* Hero Section */
.hero {
    background-image: solid black;
    background-size: cover;
    background-position: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 1.25rem;
  }
  
  /* Card Styles */
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px;
  }
  
  /* Footer */
  footer {
    background-color: #343a40;
  }
  
  footer p {
    margin: 0;
  }
  /* h1, p {
    color: white; 
    text-align: center; 
    padding: 20px; 
    background-image:; 
    background-size: cover; 
    background-position: center; /* Centers the b
    background-repeat: no-repeat; */